#root {
    background-color:#cccccc;
    color: teal;
    font-style: italic;
    margin: 0; 
    display: grid;
    min-height: 100vh;
        grid-template-rows: min-content min-content auto min-content;
        grid-template-areas: 
            "navigation"
            "header"
            "content"
            "footer";
}

h1{
    font-family: 'Pacifico', cursive;
}

.container {
    margin: 0 auto;
    max-width: 900px;
    width: 90%;
   }

   #navigation>ul{
       display: flex;
       justify-content: space-around;
       align-items: center;
       flex-direction: row;
       flex-wrap: wrap;
       padding: 0;
   }

#navigation {
    background-color: #cccccc;
    position: sticky;
    grid-area: navigation;
    top:0;  
}

#navigation>ul>li {
    display: inline;
    margin: 10px;
    position:relative;
}

#navigation .dropdown {
    display: none;
    position: absolute;
    top: 28px;
    left:0;
}

#navigation a:hover +.dropdown,
#navigation a + .dropdown:hover
 {
    display: block;
}
@media(min-width: 750px){
    #root{
        grid-template-columns: 15% auto;
        grid-template-rows: 40vh auto min-content;
        grid-template-areas: 
            "navigation header"
            "navigation content"
            "navigation footer";
}

#footer {
    background-color:#fff;
    grid-area: footer;
}

#footer>ul>li {
    background-color: darkgray;
}

#content {
    background-color: #fff;
    padding: 20px;
    grid-area: content;
}

div.container {
    background-color: teal;
}

div.container {
    background-color: grey;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#header {
    background-color: tomato;
    grid-area: header;
}

#navigation>ul{
    flex-direction: column;
}

#navigation li:first-child {
    background-color: yellowgreen;
}

#navigation li:last-child {
    background-color: royalblue;
}

#navigation li:nth-child(2n) {
    background-color: royalblue;
}

#navigation li:hover {
    background-color: teal;
}